.main{
    display:flex;
    padding: 0 20px;
    justify-content:center;
}
@media screen and (min-width: 580px) { 
    .body-main{
        width: 300px;
        gap :25px;
        grid-template-columns: 300px;
    }
}
@media screen and (min-width: 905px) { 
    .body-main{
        width: 625px;
        gap :25px;
        grid-template-columns: 300px 300px;
    }
}
@media screen and (min-width: 1230px) { 
    .body-main{
        width: 950px;
        gap :25px;
        grid-template-columns: 300px 300px 300px;
    }
}
@media screen and (min-width: 1555px) { 
    .body-main{
        width: 1275px;
        gap :25px;
        grid-template-columns: 300px 300px 300px 300px;
    }
}