.content{
    display:grid;
}
.introduce{
    display: inline-block;
    width:300px;
    height: 570px;
    vertical-align: text-top;
}
.img-person{
    width:300px;
    height: 300px;
    border-radius: 4px;
    margin-bottom:24px;
}
.name{
    position:relative;
    font-size:20px;
    color:#F2F3F9;
    margin-bottom: 10px;
}
.heart{
    display: inline-block;
    position:absolute;
    right:0px;
}
.one-line-coment{
    color:#F2F3F9;
    font-size:14px;
    margin-bottom: 11px;
}
.intro{
    color:#78797D;
    font-size:14px;
    margin-bottom:20px;
}
.img-icon{
    width: 30px;
    height: 30px;
    background-color: #1F2026;
    border-radius: 10px;
    margin-right: 10px;
}
@media screen and (min-width: 770px) { 
    .content{
        width: 625px;
        gap :25px;
        grid-template-columns: repeat(2, 300px)
    }
    .content:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
@media screen and (min-width: 1025px) { 
    .content{
        width: 625px;
        gap :25px;
        grid-template-columns: repeat(2, 300px);
    }
    .content:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
@media screen and (min-width: 1260px) { 
    .content{
        width: 950px;
        gap :25px;
        grid-template-columns: repeat(3, 300px);
    }
    .content:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
@media screen and (min-width: 1601px) { 
    .content{
        width: 1410px;
        gap :30px;
        grid-template-columns: repeat(4,330px);
    }
    .introduce{
        width: 330px;
    }
    .img-person{
        width:330px;
        height: 330px;
    }
    .content:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

